<div ng-controller='dashboardController'>

    <button class='logout' ng-click='logout()'>Logout</button>
    <br>
    <h1>Hi, {{user.session.name}}!</h1>

    <p><a href='#/topic'>Add a new Question!</a></p>

    <div>
        <p>Search: <input type='text' ng-model='filter_name'></p>
        <table>
            <tr>
                <th>Question</th>
                <th>Answers</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="topic in topics | filter: filter_name">
                <td>{{topic.title}}</td>
                <td>{{topic._answers.length}}</td>
                <td><a href='#/showTopic/{{topic._id}}'>Show</a> | <a href='#/answer/{{topic._id}}'>Answer</a></td>
            </tr>
        </table>
    </div>
</div>
